<!doctype html>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

<head>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<header class="navbar">
  <section class="navbar-section">
    <a class="navbar-brand mr-2" href="{{url_for('files.upload')}}">
      <h3>FileUploader</h3>
    </a>
    <a class="navbar-brand mr-2" href="{{url_for('files.upload')}}">
      <h5>Upload</h5>
    </a>
  </section>
  <section class="navbar-section">
    {% if g.user %}
    <span>{{ g.user['username'] }}</span>
    <a href="{{ url_for('auth.logout') }}" class="btn btn-link">Log Out</a>
    {% else %}
    <a href="{{ url_for('auth.register') }}" class="btn btn-link">Register</a>
    <a href="{{ url_for('auth.login') }}" class="btn btn-link">Log In</a>
    {% endif %}
  </section>
</header>

<div class="container">
  <div class="columns">
    <div class="column col-auto">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>
  </div>
  <div class="columns">
    <div class="column col-auto">
      {% block content2 %}{% endblock %}
    </div>
  </div>
</div>
