{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="input-group">
    <label class="form-label input-group-addon" for="username">Username</label>
    <input class="form-input" name="username" id="username" required>
  </div>
  <div class="input-group">
    <label class="form-label input-group-addon" for="password">Password</label>
    <input class="form-input" type="password" name="password" id="password" required>
    <input class="btn" type="submit" value="Register">
  </div>
</form>
{% endblock %}
